*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #202020;
}
.calc{
  display: grid;
  grid-template-columns:repeat(4, 50px) ;
}

input{
  grid-column:span 4;
  border: none;
  height: 100px;
  padding:0 15px;
  font-size: 35px;
  font-family: monospace;
}
button{
  width: 60px;
  height: 60px;
  background-color: #252525;
  outline: none;
  border: none;
  font-size: 20px;
  color: #ccc;
  padding: 10px;
  font-family: monospace;

  &:active{
    background-color: green;
  }
}